{% extends "base.html" %}
{% block title %}About us{% endblock %}
{% block content %}

<link rel="stylesheet" href="../static/css/about_us.css">

<h1 style="text-align: center; margin-top: 1rem; margin-bottom: 1rem;">About us</h1>
<div class="main-container">
    <div class="image-container">
        <img alt="Image of fitness equipment" src="../static/images/Full-body-workout.webp">
        <img alt="Image of 4 people exercising" src="../static/images/everything-you-need-know-about-fitness-1440x810.jpg">
    </div>
    <div class="sub-container">
        <p>
            Toka Fitness is a fitness company that was started in the heart of sillicon valley in 2002. Since then we have made it our mission to provide the best
            fitness content in an all-in-one stop. We have got over 10,000 incredible employees and we are expanding constantly. We have recently made a £500,000 investment
            into upgrading our digital solution to give us a social media feature, personal 1:1 training sessions with our TK instructors at one of our TK gyms, customisable
            eating and workout plans and free and paid-for content. Our company started with just 5 software engineers in our garage and expanded to an incredible large community
            of like minded individuals obsessed with fitness.
            <br><br>
            Toka Fitness platform has overtime grown into an incredibly tight knight community with many incredible transformations of our memebers, make sure not to missout
            on this great oppurtunity and transform your life now.
            <br><br>
            Join us now and invest into this incredible fitness journey. This platform has grown into something we can be incredibly proud of and we cannot wait to see where
            the future takes us and takes you. Make sure to share your incredible journey here, and tell us about your growth and the challanges you have overcome.
            <br><br>
            We are incredibly excited for the future and it promises to hold many suprises for us. We have got many big plans for the future.
        </p>
    </div>  
</div>

{% endblock %}