{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}

<link rel="stylesheet" href="../static/css/advice.css">

<div class="main-container">
    <h1>Add training advice</h1>
    <div class="sub-container">
        <form method="POST">
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">Title</label>
                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" name="title" placeholder="Bench pressing is not optimal, but this is..." {% if add_living_data %}value="{{ add_living_data[0] }}"{% endif %}>
            </div>
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">Preview Description</label>
                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" name="preview_desc" placeholder="Chest press with tilted arms on a flat bench is..." {% if add_living_data %}value="{{ add_living_data[-1] }}"{% endif %}>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Full Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="desc"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add advice</button>
        </form>
    </div>
</div>
{% endblock %}