.main-container {
    height: 89vh;
    background-image: url('../images/background.jpg');
    background-size: 100%;
}

.sub-container {
    display: inline-block;
    color: white;
    position: relative;
    top: 14rem;
    right: -7.5rem;
}

.sub-container h1 {
    font-size: 8rem;
}

.sub-container h3 {
    font-size: 2.1rem;
    text-align: center;
}