{% extends "base.html" %}
{% block title %}Accessibility{% endblock %}
{% block content %}

<script src="../static/javascript/slider.js"></script>
<link rel="stylesheet" href="../static/css/accessibility.css">

<div class="main-container">
    <div class="sub-container">
        <h1 style="text-align: center;">Accessibility features</h1>
        <h3>Change page size</h3>
        <input type="range" id="range" min="12" max="32">
        <h3>Change language</h3>
        <!-- Google translate widget -->
        <div id="google_translate_element"></div>

        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
        </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
</div>

{% endblock %}