{% extends "base.html" %}
{% block title %}Add Content{% endblock %}
{% block content %}

<link rel="stylesheet" href="../static/css/register.css">

<div class="main-container">
    <div class="sub-container">
        <h1 style="text-align: center;">Add YouTube video</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">YouTube video URL</label>
                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" name="url" placeholder="https://www.youtube.com/watch?v=enYITYwvPAQ" {% if add_content_data %}value="{{ add_content_data[0] }}"{% endif %}>
            </div>
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">Title</label>
                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" name="title" placeholder="FAST Walking in 30 minutes" {% if add_content_data %}value="{{ add_content_data[1] }}"{% endif %}>
            </div>
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">Description of YouTube video</label>
                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" name="desc" placeholder="30 minute fast walking workout. Get ready to sweat!" {% if add_content_data %}value="{{ add_content_data[2] }}"{% endif %}>
            </div>
            <button type="submit" class="btn btn-primary" id="submitButton">Add video</button>
        </form>
    </div>
</div>

{% endblock %}