{% extends "base.html" %}
{% block title %}Add instructor{% endblock %}
{% block content %}

<link rel="stylesheet" href="../static/css/login.css">

<div class="main-container">
    <div class="sub-container">
        <h1 style="text-align: center;">Add an instructor</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">Instructor email</label>
                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" name="instructor_email" placeholder="instructor@tkfitness.com" {% if add_instructor_data %}value="{{ add_instructor_data[0] }}"{% endif %}>
            </div>
            <button type="submit" class="btn btn-primary" id="submitButton">Add instructor</button>
        </form>
    </div>
</div>

{% endblock %}