{% extends "base.html" %}
{% block title %}Content{% endblock %}
{% block content %}
<iframe width="1" src="https://www.youtube.com/embed/o0fG_lnVhHw?si=KC08SLQ5HtxpdxE3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


<div class="card" style="width: 18rem;">
    <iframe width="400" height="315" src="https://www.youtube.com/embed/o0fG_lnVhHw?si=KC08SLQ5HtxpdxE3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
{% endblock %}