{% extends "base.html" %}
{% block title %}Add payment information{% endblock %}
{% block content %}

<link rel="stylesheet" href="../static/css/register.css">

<div class="main-container">
    <div class="sub-container">
        <h1 style="text-align: center;">Add payment information</h1>
        <form method="POST">
            <select class="form-select" aria-label="Default select example" name="card_type">
                <option selected {% if payment_info_data %}value="{{ payment_info_data[0] }}"{% endif %}>Select card type</option>
                <option value="Visa">Visa</option>
                <option value="Barclays">Barclays</option>
                <option value="Mastercard">Mastercard</option>
                <option value="American Express">American Express</option>
                <option value="Chase">Chase</option>
                <option value="Credit unions">Credit unions</option>
            </select>
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">Card holder name</label>
                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" name="card_holder_name" placeholder="Alan Turing" {% if payment_info_data %}value="{{ payment_info_data[1] }}"{% endif %}>
            </div>
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">Card number</label>
                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" name="card_number" placeholder="0123-4567-8910-1111" {% if payment_info_data %}value="{{ payment_info_data[2] }}"{% endif %}>
            </div>
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">Expiry date</label>
                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" name="expr_date" placeholder="01-27" {% if payment_info_data %}value="{{ payment_info_data[-2] }}"{% endif %}>
            </div>
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">CVV</label>
                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" name="cvv" placeholder="123" {% if payment_info_data %}value="{{ payment_info_data[-1] }}"{% endif %}>
            </div>
            <button type="submit" class="btn btn-primary" id="submitButton">Add payment information</button>
        </form>
    </div>
</div>
{% endblock %} 